<div class="container forgotPasswordView" ng-controller="forgotPasswordController">
    <div class="forgotPasswordWrap">
        <h1 class="text-uppercase">Forgot Password</h1>
        <ul ng-show="errors" class="unstyled alert alert-error">
            <li ng-repeat="error in errors">{{error.message}}</li>
        </ul>

        <!--<div ng-show="emailSent" class="alert alert-success">
            A temporary password has been emailed to {{emailSent}}. Please follow the instructions in the email to reset your password.
        </div>-->
        <div ng-show="msg" class="alert alert-success"> {{msg}} </div>

        <h3>Password Reset:</h3>

        <form name="resetPasswordForm" id="resetPasswordForm" ng-submit="saveAccount(user)">
            <input placeholder="Email" name="email" type="text" ng-model="user.email" class="input-block-level" id="accountEmail" >
            <input placeholder="Temporary Password" name="tempPassword" type="password" ng-model="user.temp" class="input-block-level" id="myAccountTempPassword">
            <input placeholder="New Password" name="password" type="password" ng-model="user.password" class="input-block-level" id="myAccountPassword">
            <input placeholder="Confirm Password" type="password" ng-model="user.confirm" class="input-block-level" id="myAccountConfirmPassword">
            <div class="save"><button type="submit" class="btn btn-primary input-block-level" id="myAccountSaveBtn" data-loading-text="Saving..." bs-loading-text="saving">Save</button></div>
            <div ng-show="successMsg" id="successMsg" class="unstyled alert alert-success">You have successfully changed your password. Please log in with your new password.</div>

        </form>
    </div>
</div>