<div class="container" ng-controller="forgotPasswordRequestController">
    <div class="row">
        <div class="span12">
            <div class="loginWrap">
                <h1 class="text-uppercase">Forgot Password</h1>
                <ul ng-show="errors" class="unstyled alert alert-error">
                    <li ng-repeat="error in errors">{{error.message}}</li>
                </ul>

                <p>Having trouble remembering your password? Enter your email address below to be sent further instructions. If you signed up with Facebook or Google please hit back and login.</p>
                <form name="forgotPasswordRequestForm" class="forgotPasswordRequestForm" ng-submit="resetPasswordClick()">
                    <div class="input-prepend input-block-level">
                        <input placeholder="Email" type="text" ng-model="email" class="input-block-level" required />
                    </div>
                    <button class="btn btn-primary input-block-level" ng-disabled="forgotPasswordRequestForm.$invalid" data-loading-text="Submitting..." bs-loading-text="submitting">Reset Password Now</button>
                </form>
            </div>
        </div>
    </div>
</div>