<div ng-controller="joinCtrl">
    <div id="joinContainer" class="container">
        <h1><b><span class="name">Congrats, {{global.connectedUser.firstName}}!</span></b></h1>
        <h3>You've completed your first practice interview. Keep up the good work with a Prepado subscription.</h3>
        <br />
        <h2>Prepado subscribers receive:</h2>
        <br />
        <h3><span class="icon-ok"></span><b>Unlimited practice interviews -</b></h3>
        <h3>prepare for any job or category to make sure you are ready come interview day.</h3>
        <br />
        <h3><span class="icon-ok"></span><b>Share your interview with mentors -</b></h3>
        <h3>email your interview and answers to family or friends to receive feedback and guidance</h3>
        <br />
        <h3><span class="icon-ok"></span><b>Access to thousands of real interview questions -</b></h3>
        <h3>all submitted and reviewed by real companies.</h3>
        <br />
        <button ng-click="upgrade()" class="btn" id="createSubmit" ng-cloak>SIGN UP NOW</button>
        <br />
        <br />
        <a href="#" id="noThanks" ng-click="noThanks()">Not quite yet, let's review my interview's answers</a>
    </div>
</div>