<div class="container" ng-controller="registrationCtrl">
    <div class="row">
        <div class="span12">
            <div class="registerWrap">

                <h1 class="text-uppercase">Register</h1>
                <p>By clicking Submit or selecting a service to register, you agree to our <a href="http://www.prepado.com/terms-of-service" target="_blank">Terms of Service.</a></p>
                <ul ng-show="errors" class="unstyled alert alert-error">
                    <li ng-repeat="error in errors">{{error.message}}</li>
                </ul>

                <p ng-show="global.connectedUser.authenticated">You're already logged in as user id #: {{ global.connectedUser.id }}</p>

                <div ng-hide="global.connectedUser.authenticated">
                    <ul class="loginProvidersList">
                        <li><a id="facebookRegistrationBtn" ng-click="facebookRegistration()" class="btn btn-block"><i class="icon-facebook-sign"></i> Register using Facebook</a></li>
                        <li><a id="googleRegistrationBtn" ng-click="googleRegistration()" class="btn btn-block"><i class="icon-google-plus-sign"></i> Register using Google</a></li>
                    </ul>
                    <span class="loginOr">– OR –</span>
                    <form class="registerForm">
                        <input placeholder="Email" type="text" ng-model="user.email" class="input-block-level" id="registerEmail">
                        <br>
                        <input placeholder="Password" type="password" ng-model="user.password" class="input-block-level" id="registerPassword">
                        <br>
                        <input placeholder="Confirm Password" type="password" ng-model="user.confirmPassword" class="input-block-level" id="registerConfirmPassword">
                        <br>
                        <button ng-click="register(user)" class="btn btn-primary input-block-level" id="registerFormSubmitBtn">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
