#{extends 'email.html' /}
#{set title:'SuitedTo Trial Expiration' /}
<tr>
  <td>
      <img src="http://content.suitedto.com/logo-standard.png" alt="SuitedTo Logo">
    </td>
</tr>
<tr>
    <td valign="top">
        <h2>Hello ${name},</h2>
    <p>
    We hope you have enjoyed the benefits of SuitedTo. Your free trial is set to expire in ${remaining}. Simply access your company profile to continue your SuitedTo membership. Our standard membership is just $50 per month. Or, upgrade to our Enterprise account for more private questions, users, and interviews for $200 per month. Want to talk it through? No problem! Give us a call at 843.471.1429 or email ContactUs@suitedto.com
    </p>
    <p>
        Sincerely,
        ~The SuitedTo Team
    </p>

    </td>
</tr>