#{extends 'email.html' /}
#{set title:'Invitation to Join SuitedTo' /}
<tr>
  <td>
      <img src="http://content.suitedto.com/logo-standard.png" alt="SuitedTo Logo">
    </td>
</tr>
<tr>
    <td valign="top">
        <h2>Hey#{if user.fullName} ${user.fullName}#{/if},</h2>
    <p>
    ${invitingUser.fullName} has just set up an account for you on SuitedTo.  Please
        follow the link below to choose a username and password.
    </p>
    <p>
    ${invitationUrl}
    </p>
    <p>
        Thanks!<br>
        ~The SuitedTo Team
    </p>

    #{if customMessage}
    <p>
    ${invitingUser.fullName} says:
    </p>
    <p>
    ${customMessage}
    </p>
    #{/if}

    </td>
</tr>

