
#{extends 'prepEmail.html' /}
<div style='text-align:left; padding-left:20px; color: #58463b; font-size: 18px; font-family: "kulturista-web", Rockwell, "Times New Roman", Times, serif; background-color: #faede5; line-height:1.2; border: 40px solid #8ad2da;' >

    <p style="font-weight: bold; font-size: 24px;">
        Hi ${name}!
    </p>
    <p style="font-weight: lighter;">
        Thanks for completing your first Prepado practice interview!
        <br/>
        <br/>So here’s the deal. With Prepado premium, you get:
        <br/>- Unlimited practice interviews
        <br/> - Access to thousands of interview questions
        <br/>- A complete archive of your responses
        <br/>- The ability to share with reviewers of your choice
        <br/>
        <br/>And because you have already used Prepado (which clearly makes you awesome!) use the code <span style="font-weight: bold;">40MOBILEOFF</span> when you check out!
    </p>

    <!--button-->
    <table cellspacing="0" cellpadding="0"> <tr>
        <td align="center" width="200" height="50" bgcolor="#ec2e25" style="color: #ffffff; display: block;">
            <a href="${link}" style="color: #ffffff; font-size:24px; font-weight: bold; text-decoration: none; line-height:50px; width:100%; display:inline-block">Let's Do This!</a>
        </td>
    </tr> </table>
    <p>
        Happy Interviewing!
    </p>
    <p>
        Your friends at:
    </p>

    <img src="http://content.suitedto.com/prepado/Prepadologo580.png" style="height:auto; width:auto; max-width:300px; max-height:300px;">
</div>

