
<footer id="page-footer">
    <div class="container">
        <div class="row">
            <div class="span7 footerLeft">
                <span class="copyright">Copyright ©2014 SPARC, LLC. All rights reserved. </span>
            </div>
            <div class="span5 footerRight">
                <a id="footerPrivacy" href="http://www.suitedto.com/legal/" rel="external">Privacy Policy</a> |
                <a id="footerTOS" href="http://www.suitedto.com/legal/terms-of-service/" rel="external">Terms of Service</a> &nbsp;
                <span class="social">
                    <a id="footerFacebook" href="http://www.facebook.com/SuitedTo" rel="external" class="social-facebook">SuitedTo's Facebook</a>
                    <a id="footerTwitter" href="http://www.twitter.com/SuitedTo" rel="external" class="social-twitter">SuitedTo's Twitter</a>
                    <a id="footerGooglePlus" href="https://plus.google.com/106791862625806607917" rel="external" class="social-googleplus">SuitedTo's Google+</a>
                </span>
            </div>
        </div>
    </div>
</footer>