<!-- Facebook sharing information tags -->
<meta property="og:title" content="Thanks for choosing Prepado!">

<title>Thanks for choosing Prepado!</title>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0px;">
    <tr valign="top">
        <td align="center">

            #{doLayout /}

        </td>
    </tr>

    <!-- Footer -->
    <tr>
        <td align="center" valign="top">

            <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                <tbody><tr>
                    <td valign="top" class="footerContent">
                        <!-- // Begin Module: Standard Footer \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td colspan="2" valign="middle" id="social">
                                    &nbsp;<a href="http://twitter.com/Prepado">follow on Twitter</a> | <a href="http://www.facebook.com/Prepado">friend on Facebook</a> | <a href="mailto:?subject=FWD:%20Check%20out%20Prepado.com%20&%20body=Take%20a%20look%20at%20how%20to%20get%20started%20with%20Prepado%20http://prepado.com/">forward to a friend</a>&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    Copyright ©2014 SPARC, LLC. All rights reserved. &nbsp; <a rel="external" href="http://prepado.com/privacy-policy/">Privacy Policy</a> | <a rel="external" href="http://prepado.com/terms-of-service/">Terms of Service</a>
                                </td>

                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
</table>
