#{extends 'standardPage.html' /}
#{set title:'Prep Interviews' /}
#{set 'moreScripts'}
    #{script 'jquery.dataTables.min.js' /}
    #{script 'paging.js' /}
#{/set}
#{set 'moreStyles'}

#{/set}

#{set tableId:'prepInterviews' /}
#{set processing:play.Play.configuration.get("dataTable.processing")/}

<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Prep Interviews</h1>
        </div>
    </div>
</div>


#{standardError /}


<div class="row">
    <div class="span12">
    	#{dataTable tableId}
    		#{dataTableColumn "ID", sWidth:"4%", sClass:" interview-id dataCol_id"/}
        	#{dataTableColumn "Name", sWidth:"25%", sClass:"interview-name dataCol_interviewname" /}
        	#{dataTableColumn "Creator", sWidth:"20%", sClass:"interview-creator dataCol_interviewcreator" /}
        	#{dataTableColumn "Question Count", sWidth:"4%", sClass:"interview-questioncount dataCol_interviewquestioncount" /}
        	#{dataTableColumn "Categories", sWidth:"32%", sClass:"interview-categories dataCol_interviewcategories" /}
        	#{dataTableColumn "Date Created", sWidth:"15%", sClass:"interview-created dataCol_interviewcreated" /}
		#{/dataTable}
    </div>
</div>




<script type="text/javascript">
	
	var options = {
          aaSorting: [
                    [0, 'desc']
                ],
          sDom: "<'row'<'span6'l><'span6'f>><'tableWorkingSpace'rt><'row'<'span5'i><'span7'p>>",
          oLanguage: {
            	    sProcessing: #{jsString}#{processingDisplay /}#{/jsString},
            	    sLoadingRecords: #{jsString}#{processingDisplay /}#{/jsString},
            	    sEmptyTable: "There are no interviews..."
        	    }
    }
    
    
    var table = Application.DataTable;
    
    table.init("#{get 'tableId' /}", "@{Tables.getReport()}", "prepinterview.PrepInterviewTable", options);
    
   	table.load(null, null);
	
</script>
