#{extends 'standardPage.html' /}
#{set 'moreScripts'}
    #{script 'password_strength.min.js' /}
#{/set}
#{set 'moreStyles'}
    
#{/set}


		<h1>Reset Your Password</h1>
	
		#{form @Security.setNewPassword(), class:'form-horizontal', , autocomplete:'off'}
		
<div class="row">
    <div class="span6 offset3">		
			#{ifErrors}
        		<div class="alert alert-error">
            		#{errors}
                		<p>${error}</p>
            		#{/errors}
				</div>
			#{/ifErrors}
			#{if flash.error}
				<p class="alert-error">
					&{flash.error}
				</p>
			#{/if}
			#{if flash.success}
				<p class="alert alert-success">
					&{flash.success}
				</p>
			#{/if}
			<fieldset>
			<div class="control-group">
				<label class="control-label" for="userName">&{'username'}</label>
				<div class="controls">
					<input type="text" class="input-large" name="userName" id="userName" value="${flash.username}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">&{'password.temporary'}</label>
				<div class="controls">
					<input type="password" class="input-large" name="password" id="password" value="${flash.password}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newPassword">&{'secure.newPassword'}</label>
				<div class="controls">
					<input type="password" class="input-large" name="newPassword" id="newPassword" value="" />
					<span class="score badge"></span>
				</div>
				
			</div>
			<div class="control-group">
				<label class="control-label" for="confirmNewPassword">&{'secure.confirmNewPassword'}</label>
				<div class="controls">
					<input type="password" class="input-large" name="confirmNewPassword" id="confirmNewPassword" value="" />
				</div>
			</div>
			<div style="text-align:center">
    			<input type="submit" class="btn btn-large btn-primary" id="change" value="Set Password" />
			</div>
			<fieldset>
			
	</div>
</div>
		#{/form}


<script type="text/javascript">

    $(document).ready(function () {
		$('.loginNav').hide();
	})
	
    $(function(){
        $("#newPassword").password({
            score: '.score'
        })
    });
</script>
